<%= form_for(@cleaner) do |f| %>
  <% if @cleaner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cleaner.errors.count, "error") %> prohibited this cleaner from being saved:</h2>

      <ul>
      <% @cleaner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, :required => true%>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, :required => true%>
  </div>
  <div class="field">
    <%= f.label :quality_score %><br>
    
    <%= f.select :quality_score, ((0..5).map {|i| [i,i] } << [nil]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
